<div class="col-lg-12">
  <div class="card mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"><%= yield :title %></h6>
    </div>
    <div class="card-body">
      <%= form_with(model: profile, local: true) do |form| %>
      <% if profile.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
        <ul>
          <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="row">
        <div class="col-lg-3">


      
          <% if @profile.avatar_url.nil? %>
            <%= image_tag asset_path("avatar_2x.png"), class: "img-fluid img-thumbnail rounded mx-auto d-block" %>
          <% else %>
            <%= image_tag @profile.avatar_url(:profile_medium).to_s, class: "img-fluid img-thumbnail rounded mx-auto d-block" %>
          <% end %>
          <div class="mt-3">
            <div class="input-group mb-3">
              <div class="custom-file">
                <%= form.file_field :avatar, id: :avatar, class: "form-control", placeholder: "Profile Picture", aria: {describedby: "yintlyuploadfile"} %>
                <label class="custom-file-label text-truncate" for="avatar">Choose file</label>
              </div>
            </div>
          </div>

      

        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label "Firsname" %>
                <%= form.text_field :first_name, class: "form-control form-control-user" %>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <%= form.label "Lastname" %>
                <%= form.text_field :last_name, class: "form-control form-control-user"  %>
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <%= form.label :address %>
            <%= form.text_area :address, class: "form-control form-control-user"  %>
          </div>
          <div class="form-group">
            <%= form.submit class: "btn btn-primary btn-user float-right" %>
          </div>
        </div>
      </div>
      
      <% end %>
    </div>
  </div>
</div>

<script>
jQuery(document).on('turbolinks:load', function() {
    $('#avatar').on('change',function(){
        //get the file name
        var fileName = $(this).val();
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
    })

    function readURL(input) {

      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
          $('.img-thumbnail').attr('src', e.target.result);
        }

        reader.readAsDataURL(input.files[0]);
      }
    }

    $("#avatar").change(function() {
      readURL(this);
    });

});

</script>