<% content_for :title, "Profile" %>
<%= render 'layouts/sidebar' %>
<div id="content-wrapper" class="d-flex flex-column">
	<div id="content">
	  	<%= render 'layouts/topnav' %>
		<div class="container-fluid">
			<div class="row">
				<%= render 'form', profile: @profile %>
			</div>
		
		</div>
	</div>
	<%= render 'layouts/footer' %>
</div>
