<% content_for :page_class, "bg-gradient-danger" %>
<div class="container">
  <div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="col-lg-5 d-none d-lg-flex">
          <div class="flex-grow-1 bg-register-image" style="background-image: url(<%= signup_photo %>);"></div>
        </div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h4 class="text-dark mb-4">Create an Account!</h4>
            </div>
            <%= form_for(resource, as: resource_name, html: {class: "user"}, url: registration_path(resource_name)) do |f| %>
              
              <%= render "devise/shared/error_messages", resource: resource %>
            

              <div class="form-group">
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", placeholder: "Email Address" %>
                
              </div>
              
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <%= f.password_field :password, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Password" %>
                  
                </div>
                <div class="col-sm-6">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user", placeholder: "Repeat Password" %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %>
                </div>
              </div>

              <%= f.submit "Sign up", class: "btn btn-danger btn-block text-white btn-user" %>
              <hr>
            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>