<% content_for :page_class, "bg-gradient-danger" %>
<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-9 col-lg-12 col-xl-10">
			<div class="card shadow-lg o-hidden border-0 my-5">
				<div class="card-body p-0">
					<div class="row">
						<div class="col-lg-6 d-none d-lg-flex">
							<div class="flex-grow-1 bg-register-image" style="background-image: url(<%= forgot_photo %>);"></div>
						</div>
						<div class="col-lg-6">
							<div class="p-5">
								<div class="text-center">
									<h4 class="text-dark mb-4">Forgot your password?</h4>
								</div>
								<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "user" }) do |f| %>
								<%= render "devise/shared/error_messages", resource: resource %>
								<div class="form-group">
									<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-user", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: "Enter Email" %>
								</div>
								<%= f.submit "Reset Password", class: "btn btn-danger btn-block text-white btn-user" %>
								<hr>
								<% end %>
								<%= render "devise/shared/links" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>