<%= render 'layouts/sidebar' %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>
    <div class="container-fluid">
    	<%= bootstrap_flash %>
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
			<%#= link_to new_facebook_page_path, class: "d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm" do %>
			<!-- <i class="fas fa-file fa-sm text-white-50"></i> Add New Page -->
            <%# end %>
			
		</div>

		<div class="row">
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">

							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Facebook Page List</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @facebook_count %></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-calculator fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Email Only</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @fb_email_only_count_total %></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-envelope-open fa-2x text-gray-300"></i>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-info shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Phone Only</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @fb_phone_only_count_total %></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-phone-square fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Earnings (Monthly) Card Example -->
			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-warning shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Email and Phone</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800"><%= @fb_email_phone_count %></div>
							</div>
							<div class="col-auto">
								<i class="fas fa-bullhorn fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
  </div>
  
  <%= render 'layouts/footer' %>
</div>