<div id="content-wrapper" class="d-flex flex-column">
    <%= render 'layouts/outer_nav' %>
    <section class="ec2-full-with bg-img-1">
        <div class="ec2-full-with bg-50 h-100">
            <div class="container d-flex d-sm-flex d-md-flex d-lg-flex d-xl-flex justify-content-center align-items-center justify-content-sm-center align-items-sm-center justify-content-md-center align-items-md-center justify-content-lg-center align-items-lg-center justify-content-xl-center align-items-xl-center h-100">
                <div class="row flex-grow-1">
                    <div class="col-lg-10 offset-1">
                        <%= bootstrap_flash %>
                        <h1 class="text-center heading-3 mb-0 text-dark">Get <span class="text-danger">Leads</span> From Any Social Media Sites.</h1>
                        <h3 class="text-center heading-6 mt-0"><span class="text-danger">Gleadr</span> let you collect phone, emails and websites from any social media sites easily and connect the people that matter for your business. </h3>
                        
                        <div class="text-center mx-auto">
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-faded pt-5">
        <div class="container">
            <div class="row py-2">
                <div class="col-lg-12">
                    <h4 class="text-center">Thousands of Marketing Professionals get their leads at <span class="text-danger">Gleadr</span>.</h4>
                </div>
            </div>
        </div>
    </section>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/k4hxvhg0hb4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="text-center mt-4">
                        <h4 class="text-center text-danger">Over 200+ million phone and email addresses indexed</h4>
                        
                        <p>Get the phone, email address in any website or social media site using keywords search to get leads that you need for your company.
                        </p>
                    </div>
                    <div class="text-center mt-3">
                        <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-danger btn-lg button-pill", role: "button" %>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="list-group fa-ul ">
                        <div class="list-group-item product_list">
                            <span class="fa-li" >
                                <i class="fas fa-search"></i>
                            </span>
                            <div class="ml-3">
                                <h5 class="text-danger">Keyword Search</h5>
                                <p>Search Email, Phone or Website Using keywords</p>
                            </div>
                        </div>
                        <div class="list-group-item product_list">
                            <span class="fa-li" >
                                <i class="fas fa-envelope"></i>
                            </span>
                            <div class="ml-3">
                                <h5 class="text-danger">Email Finder</h5>
                                <p>Find Email Address and connect the professionals.</p>
                            </div>
                        </div>
                        <div class="list-group-item product_list">
                            <span class="fa-li" >
                                <i class="fas fa-mobile-alt"></i>
                            </span>
                            <div class="ml-3">
                                <h5 class="text-danger">Phone Number Finder</h5>
                                <p>Find and save phone number for you to call later or send SMS blast for your business. </p>
                            </div>
                        </div>
                        <div class="list-group-item product_list">
                            <span class="fa-li" >
                                <i class="fas fa-globe-europe"></i>
                            </span>
                            <div class="ml-3">
                                <h5 class="text-danger">Website Finder via Keywords</h5>
                                <p>Find Website that matters for your business.</p>
                            </div>
                        </div>
                        <div class="list-group-item product_list">
                            <span class="fa-li" >
                                <i class="fas fa-fw fa-tachometer-alt"></i>
                            </span>
                            <div class="ml-3">
                                <h5 class="text-danger">Dashboard</h5>
                                <p>Dashboard for your leads.</p>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-security">
        <div class="ec2-full-with bg-dark-50 h-100">
            <div class="container-fluid pt-5 pb-5">
                <div class="row pt-5 pb-5">
                    <div class="col-lg-8 offset-2">
                        <h2 class="text-center mb-2 text-danger">We adhere data transparency.</h2>
                        <h4 class="text-center text-white py-3 font-weight-light">At <span class="text-danger">Gleadr</span>, we are convinced the most valuable data is sourced and processed using transparent methods. Every single phone, email address we collect and distribute in the Keyword Search are publicly available.</h4>
                        <div class="text-center mt-3">
                            <%= link_to "Sign Up Now", new_user_registration_path, class: "btn btn-danger btn-lg button-pill", role: "button" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-dark pb-5 pt-3">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-3 text-white">
                    <h6 class="mb-3 font-weight-bold">PRODUCT</h6>
                    <ul class="list-unstyled">
                        <li class="py-1 font-weight-light">Keyword Search</li>
                        <li class="py-1 font-weight-light">Email Finder</li>
                        <li class="py-1 font-weight-light">Phone Finder</li>
                        <li class="py-1 font-weight-light">Website Finder via keywords</li>
                        <li class="py-1 font-weight-light">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-3 text-white">
                    <h6 class="mb-3 font-weight-bold">ADD-ON</h6>
                    <ul class="list-unstyled">
                        <li class="py-1 font-weight-light">Chrome extension</li>
                        <li class="py-1 font-weight-light">Firefox add-on</li>
                        <li class="py-1 font-weight-light">CSV collect</li>
                    </ul>
                </div>
                <div class="col-lg-3 text-white">
                    <h6 class="mb-3 font-weight-bold">COMPANY</h6>
                    <ul class="list-unstyled">
                        <li class="py-1 font-weight-light">About</li>
                        <li class="py-1 font-weight-light">Blog</li>
                        <li class="py-1 font-weight-light">Press resources</li>
                    </ul>
                </div>
                <div class="col-lg-3 text-white">
                    <h6 class="mb-3 font-weight-bold">SUPPORT</h6>
                    <ul class="list-unstyled">
                        <li class="py-1 font-weight-light">Help Center</li>
                        <li class="py-1 font-weight-light">Contact us</li>
                        <li class="py-1 font-weight-light">Chat</li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-lg-12">
                    <div class="social-icons">
                        <%= link_to "https://twitter.com/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-twitter"></i>
                        <% end %>
                        <%= link_to "https://www.facebook.com/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-facebook"></i>
                        <% end %>
                        <%= link_to "https://www.linkedin.com/company/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-linkedin"></i>
                        <% end %>
                        <%= link_to "https://www.youtube.com/channel/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-youtube"></i>
                        <% end %>
                        <%= link_to "https://github.com/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-github"></i>
                        <% end %>
                        <%= link_to "https://instagram.com/Gleadr", class: "mr-2 text-white text-decoration-none" do %>
                        <i class="fab fa-instagram"></i>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer style="background-color: #3c3d42" class="py-3">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <p class="text-white">Copyright © <%= year  %> <%= link_to app_name, unauthenticated_root_path, role: "button", class: "text-white text-decoration-none" %></p>
                </div>
                <div class="col-lg-6">
                    <p class="text-white text-right">
                        <%= link_to "Terms of Service ", unauthenticated_root_path, role: "button", class: "text-white text-decoration-none" %> •
                    <%= link_to "Privacy Policy", unauthenticated_root_path, role: "button", class: "text-white text-decoration-none" %></p>
                </div>
            </div>
        </div>
        
    </footer>
</div>