<div class="table-responsive">
  <table class="table table-striped table-sm" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>Page</th>
        <th>Page Phone</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @facebook_pages.each do |facebook_page| %>
      <tr>
        <td>
          <h6><%= link_to facebook_page.page_name, facebook_page.page_url, target: "_blank", class: "text-dark" %></h6>
          
          <small id="link_action" class="animated--fade-in mb-0">
          <%= link_to 'View', facebook_page %>
          <%= link_to 'Edit', edit_facebook_page_path(facebook_page) %>
          <%= link_to 'Delete', facebook_page, method: :delete, data: { confirm: 'Are you sure?' } %>
          </small>
        </td>
        <td><%= facebook_page.page_phone %></td>
        <td><%= facebook_page.page_email %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  
</div>
<script>
$(document).on('turbolinks:load', function() {
  $(document).ready(function() {
      $('#dataTable').DataTable();
    });
});
</script>