<div class="row">
  <div class="col-md-9 col-lg-8 col-xl-6 offset-lg-1 offset-xl-2">
    <div class="form-group">
      <%= text_field_tag 'fb_url', nil , class: "form-control facebook_url", placeholder: "Enter Facebook Page UserHandle", id: "facebook_username" %>
      <small class="text-secondary">Sample: (RaketHostPH)</small>
    </div>
  </div>
  <div class="col-md-3 col-lg-2 col-xl-2">
    <div id="fbLink"></div>
    <button class="btn btn-warning float-right btn-pill text-white btn-block get_meta" type="button">
    Get FB Data
    <span class="spinner-border spinner-border-sm" id="loading" role="status" aria-hidden="true"></span>
    </button>
  </div>
</div>
<div class="card mb-4">
  <div class="card-header py-3">
    <div class="d-sm-flex justify-content-between align-items-center">
      <h6 class="m-0 font-weight-bold text-primary"><%= yield :title %></h6>
      <%= yield :edit_button %>
    </div>
  </div>
  <div class="card-body">
<%= form_with(model: facebook_page, local: true) do |form| %>
<% if facebook_page.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(facebook_page.errors.count, "error") %> prohibited this facebook_page from being saved:</h2>
  <ul>
    <% facebook_page.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="card">
            <%#= image_tag asset_path("facebook_page_cover.png"), class: "card-img-top", id: "page_facebook_cover_src" %>
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3">
                    <% if @facebook_page.page_profile_image.present? %>
                      <%= image_tag @facebook_page.page_profile_image, class: "img-thumbnail", id: "page_profile_image_src" %>
                    <% else %>
                      <%= image_tag asset_path("facebook_page_profile.png"), class: "img-thumbnail", id: "page_profile_image_src" %>
                    <% end -%>

                    <div class="form-group mt-3">
                      <%= form.submit class: "btn btn-primary btn-block" %>
                    </div>
                  </div>
                  <div class="col-lg-9 ">
                    <div class="border-bottom">
                      <h5>
                        <% if @facebook_page.page_url.present? %>

                          <%= link_to @facebook_page.page_url, target: "_blank" do %>
                            <span id="page_name_text"><%= @facebook_page.page_name %></span>
                          <% end %>

                        <% else %>
                          <%= link_to "#", id: "page_url_text" do %>
                            <span id="page_name_text">Your Page Name</span>
                          <% end %>
                        <% end %>
                      </h5>
                      <h6 class="small font-italic">
                      <% if @facebook_page.username.present? %>
                        @<span id="username"><%= @facebook_page.username %></span>
                      <% else %>
                        @<span id="username">NoUsername</span>
                      <% end %>
                      </h6>
                    </div>
                    <div class="border-bottom">
                      <p>
                        <span class="font-weight-bold mr-2">Email </span>
                        <% if @facebook_page.page_email.present? %>
                          <span id="page_email_text"><%= @facebook_page.page_email %></span>
                        <% else %>
                          <span id="page_email_text">noemail@yourdomain.com</span>
                        <% end %>
                      </p>
                    </div>
                    <div class="container-fluid border-bottom">
                      <div class="row">
                        <div class="col-lg-6 m-0 p-0">
                          <div class="row">
                            <div class="col-lg-3 m-0 p-0"><span class="font-weight-bold">Phone</span></div>
                            <div class="col-lg-9 m-0 p-0">
                              <ul>
                                <% if @facebook_page.page_phone.present? %>
                                  <li id="page_phone_text"><%= @facebook_page.page_phone %></li>
                                <% else %>
                                  <li id="page_phone_text">number</li>
                                <% end %>

                                
                                
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 m-0 p-0">
                          <div class="row">
                            <div class="col-lg-3 m-0 p-0"><span class="font-weight-bold">Social</span> </div>
                            <div class="col-lg-9 m-0 p-0">
                              <ul>
                                
                                <li>Twitter</li>
                                <li>Instagram</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container-fluid border-bottom p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">Address</span>
                        </div>
                        <% if @facebook_page.page_address.present? %>
                          <div class="col-lg-9" id="page_address_text">
                            <%= @facebook_page.page_address %>
                          </div>
                        <% else %>
                          <div class="col-lg-9" id="page_address_text">
                            No Address
                          </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="container-fluid border-bottom p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">About</span>
                        </div>
                        <% if @facebook_page.page_about.present? %>
                        <div class="col-lg-9" id="page_about_text">
                          <%= @facebook_page.page_about %>
                        </div>

                        <% else %>
                          <div class="col-lg-9" id="page_about_text">
                            No About
                          </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="container-fluid border-bottom m-0 p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">Mission</span>
                        </div>
                        <% if @facebook_page.page_mission.present? %>
                          <div class="col-lg-9" id="page_mission_text">
                            <%= @facebook_page.page_mission %>
                          </div>
                        <% else %>
                          <div class="col-lg-9" id="page_mission_text">
                            Mission
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="field">
  
  <%= form.hidden_field :page_name, id: :page_name %>
</div>
<div class="field">
  
  <%= form.hidden_field :username, id: :page_username  %>
</div>
<div class="field">
  <%= form.hidden_field :page_phone, id: :page_phone  %>
</div>
<div class="field">

  
  
  <%= form.hidden_field :page_email, id: :page_email %>
</div>
<div class="field">
  
  <%= form.hidden_field :page_address, id: :page_address %>
</div>
<div class="field">
  
  <%= form.hidden_field :page_about, id: :page_about %>
</div>
<div class="field">
  
  <%= form.hidden_field :page_mission, id: :page_mission %>
</div>
<div class="field">
  <%= form.hidden_field :page_url, id: :page_url %>
</div>
<div class="field">
  
  <%= form.hidden_field :page_profile_image, id: :page_profile_image %>
</div>

<% end %>
  </div>
</div>


<script type="text/javascript">
  $('#loading').hide();
  $('button').click(function() {
  $.ajax({
    url: 'https://cors-anywhere.herokuapp.com/' + 'https://www.facebook.com/' + $('.facebook_url').val() + '/about',
    type: 'GET',
    crossDomain: true,
    headers: {
      'Access-Control-Allow-Credentials' : true,
      'Access-Control-Allow-Origin':'*',
      'Access-Control-Allow-Methods':'GET',
      'Access-Control-Allow-Headers':'application/html',
    },
    dataType: "html",
    cache: false,
    beforeSend: function(){
      $('#loading').show();
    },
    complete: function(){
      $('#loading').hide();
    },
    }).then(function(data) {
      var html                    = $(data);

      var numberPattern           = /([+|\s]\d+\s\d+[-|\s]\d+[-|\s]\d+|\d+\s\d+\s\d+|\(?\d+\)+\s\d+\s\d+|[\d]{2,}\s[\d]{3,4}[\-]\d+|[\d]{2,3}[\-][\d]{3,4}[\-][\d]{3,4})/g;

      var title                   = $(html).filter('meta[property="og:title"]').attr("content");
      var url                     = $(html).filter('meta[property="og:url"]').attr("content");
      

      // var phone                   = $(html).find('._3n4o ._50f4').text();
      var phone                   = $(html).find('#content_container ._50f4').text();
      

      var business_phone          = phone.match(numberPattern);

      var address                 = $(html).find('._5aj7 ._2iem').text();
      var about                   = $(html).find('._5po3+ ._3-8j ._3-8w').text();
      var mission                 = $(html).find('._3-8j:nth-child(1) ._3-8w').text();
      var facebook_profile        = $(html).find('img').attr('src');
      var facebook_cover          = $(html).find('#PagesCoverElementContainerPagelet img').attr('src');
      var user_name               = $(html).find('._19s_ div a').text();
      var email                   = $(html).find('a[href^="mailto:"]').text();
      // alert(email);
      
      $('#page_name').val(title);
      $('#page_name_text').text(title);

      $('#page_url').val(url);
      $('#page_url_text').attr('href',url);

      $('#page_phone').val(business_phone);
      $('#page_phone_text').text(business_phone);

      $('#page_address').val(address);
      $('#page_address_text').text(address);

      $('#page_about').val(about);
      $('#page_about_text').text(about);

      $('#page_mission').val(mission);
      $('#page_mission_text').text(mission);

      $('#page_profile_image').val(facebook_profile);
      $('#page_profile_image_src').attr('src',facebook_profile);

      $('#page_facebook_cover').val(facebook_cover);
      $('#page_facebook_cover_src').attr('src',facebook_cover);

      $('#page_email').val(email);
      $('#page_email_text').text(email);
    });
  });
</script>

<script type="text/javascript">
$(document).on('turbolinks:load', function() {
  $(".add_fields").click()

  // Facebook Username
  $('#facebook_username').change(function() {
    $('#username').text($(this).val());
    $('#page_username').val($(this).val());
  });
});
</script>