<%= render 'layouts/sidebar' %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>
    <div class="container-fluid">
<div class="container-fluid mb-5">

	<%= form_for(bulk_page_path, :method => "get") do %>
	  <div class="form-row">
	    <div class="col-lg-6">
	    	<label for="inputState">Category <i class="fas fa-question-circle mytooltip" data-toggle="tooltip" data-placement="top" title="Enter Category nam only from Facebook Category"></i></label>

	      
	      <%= text_field_tag :category_slugs, "", value: params[:category_slugs], class: "form-control", placeholder: "Facebook Category" %>
	      <small class="text-secondary">Slugs eg:(personal-trainer)</small>
	      
	    </div>
	    <div class="col-lg-2">
	    	<label for="inputState">Starting Page <i class="fas fa-question-circle mytooltip" data-toggle="tooltip" data-placement="top" title="Starting page to save"></i></label>
	      
	      <%= number_field_tag :starting_page, "", value: params[:starting_page], class: "form-control", placeholder: "Starting Page" %>
	    </div>
	    <div class="col-lg-2">
	    	<label for="inputState">Max Page Count <i class="fas fa-question-circle mytooltip" data-toggle="tooltip" data-placement="top" title="Number of pagination"></i></label>
	      <%= number_field_tag :max_page_count, "", value: params[:max_page_count], class: "form-control", placeholder: "Max Page" %>
	    </div>
	    <div class="col-lg-2">
	    	<label for="inputState">&nbsp; </label><br>
	    	<%= submit_tag "Get Page", class: "btn btn-warning" %>
	      
	    </div>
	  </div>
	<% end -%>
</div>
			
		<ol class="list-group mb-3">
	    	<% @html_doc.css("a._6x0d").each do |item| %>
	    		<li class="list-group-item">
	    			
	    			<% fb_page = Nokogiri::HTML(open(item["href"]+ "#{'about'}")) %>

      				<h6 class="font-weight-bold"><%= link_to fb_page.at("meta[property='og:title']")['content'],item["href"]+ "#{'about'}", target: "_blank" %></h6>
      				<p class="mb-0 p-0">Phone: <%= @page_phone = fb_page.css("#content_container ._50f4").text[/([+|\s]\d+\s\d+[-|\s]\d+[-|\s]\d+|\d+\s\d+\s\d+|\(?\d+\)+\s\d+\s\d+|[\d]{2,}\s[\d]{3,4}[\-]\d+|[\d]{2,3}[\-][\d]{3,4}[\-][\d]{3,4})/i] %></p>

     
      				<p>Email: <%= @page_email = fb_page.css('a[href^="mailto:"]').text.strip %></p>
	    		
	    				
	    		</li>
	    	<% end %>
    	</ol>
		
	</div>
  </div>
	<%= render 'layouts/footer' %>
</div>
<script type="text/javascript">
	$('.mytooltip').tooltip()
</script>