<%= render 'layouts/sidebar' %>
<% content_for :edit_button do %>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
	<div class="btn-group mr-2" role="group" aria-label="First group">
		<%= link_to 'View', @facebook_page, class: "btn btn-success btn-sm d-none d-sm-inline-block", role: "button" %>
		
	</div>
	<div class="btn-group mr-2" role="group" aria-label="Second group">
		<%= link_to 'Back', facebook_pages_path, class: "btn btn-primary btn-sm d-none d-sm-inline-block", role: "button" %>
	</div>
</div>
<% end -%>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>
    <div class="container-fluid">
		<h1><% content_for :title, "Edit Facebook Page" %></h1>

		<%= render 'form', facebook_page: @facebook_page %>
	</div>
  </div>
  
  <%= render 'layouts/footer' %>
</div>

