<%= render 'layouts/sidebar' %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>
    <div class="container-fluid">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-dark">
          Facebook Pages List <span class="float-right">
            <%= link_to new_facebook_page_path, class: "d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm", role: "button" do %>
                <i class="fas fa-file fa-sm text-white-50"></i> Add New Page
            <% end %>

            </span>
          </h6>
        </div>
        <div class="card-body">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-email-tab" data-toggle="pill" href="#pills-email" role="tab" aria-controls="pills-email" aria-selected="false">Email Only</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-phone-tab" data-toggle="pill" href="#pills-phone" role="tab" aria-controls="pills-phone" aria-selected="false">Phone Only</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-uncontacted-tab" data-toggle="pill" href="#pills-uncontacted" role="tab" aria-controls="pills-uncontacted" aria-selected="false">Uncontacted</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-call-back-tab" data-toggle="pill" href="#pills-call-back" role="tab" aria-controls="pills-call-back" aria-selected="false">Need To Call Back</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contacted-tab" data-toggle="pill" href="#pills-contacted" role="tab" aria-controls="pills-contacted" aria-selected="false">Contacted</a>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <%= render "all_list" %>
            </div>
            <div class="tab-pane fade" id="pills-email" role="tabpanel" aria-labelledby="pills-email-tab"><%= render "pill_email_only" %>


            </div>
            <div class="tab-pane fade" id="pills-phone" role="tabpanel" aria-labelledby="pills-phone-tab"><%= render "pill_phone_only" %>
            </div>
            <div class="tab-pane fade" id="pills-uncontacted" role="tabpanel" aria-labelledby="pills-uncontacted-tab">pills-uncontacted</div>
            <div class="tab-pane fade" id="pills-call-back" role="tabpanel" aria-labelledby="pills-call-back-tab">pills-call-back</div>
            <div class="tab-pane fade" id="pills-contacted" role="tabpanel" aria-labelledby="pills-contacted-tab">pills-contacted</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render 'layouts/footer' %>
</div>