<%= render 'layouts/sidebar' %>
<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>
    <div class="container-fluid">
		<h1 class="text-dark"><% content_for :title, "Add Facebook Page" %></h1>

		<%= render 'form', facebook_page: @facebook_page %>
	</div>
  </div>
  
  <%= render 'layouts/footer' %>
</div>