<%= render 'layouts/sidebar' %>
<% content_for :edit_button do %>
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <%= link_to 'Edit', edit_facebook_page_path(@facebook_page), class: "btn btn-warning btn-sm d-none d-sm-inline-block", role: "button" %>
    
  </div>
  <div class="btn-group mr-2" role="group" aria-label="Second group">
    <%= link_to 'Back', facebook_pages_path, class: "btn btn-primary btn-sm d-none d-sm-inline-block", role: "button" %>
  </div>
</div>
<% end -%>

<div id="content-wrapper" class="d-flex flex-column">
  <div id="content">
    <%= render 'layouts/topnav' %>

<div class="container-fluid">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div class="card">
            <%#= image_tag asset_path("facebook_page_cover.png"), class: "card-img-top", id: "page_facebook_cover_src" %>
            <div class="card-header py-3">
              <div class="d-sm-flex justify-content-between align-items-center">
                <h6 class="m-0 font-weight-bold text-primary"></h6>
                <%= yield :edit_button %>
              </div>
            </div>
            <div class="card-body">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-lg-3">
                    <% if @facebook_page.page_profile_image.present? %>
                      <%= image_tag @facebook_page.page_profile_image, class: "img-thumbnail", id: "page_profile_image_src" %>
                    <% else %>
                      <%= image_tag asset_path("facebook_page_profile.png"), class: "img-thumbnail", id: "page_profile_image_src" %>
                    <% end -%>

                    
                  </div>
                  <div class="col-lg-9 ">
                    <div class="border-bottom">
                      <h5>
                        <% if @facebook_page.page_url.present? %>

                        <%= link_to @facebook_page.page_url, target: "_blank" do %>
                          <span id="page_name_text"><%= @facebook_page.page_name %></span>
                        <% end %>

                        <% else %>
                        <%= link_to "#" do %>
                          <span id="page_name_text">Your Page Name</span>
                        <% end %>
                        <% end -%>
                      </h5>
                      <h6 class="small font-italic">
                      <% if @facebook_page.username.present? %>
                        @<span id="username"><%= @facebook_page.username %></span>
                      <% else %>
                        @<span id="username">NoUsername</span>
                      <% end %>
                      </h6>
                    </div>
                    <div class="border-bottom">
                      <p>
                        <span class="font-weight-bold mr-2">Email </span>
                        <% if @facebook_page.page_email.present? %>
                          <span id="page_email_text"><%= @facebook_page.page_email %></span>
                        <% else %>
                          <span id="page_email_text">noemail@yourdomain.com</span>
                        <% end %>
                      </p>
                    </div>
                    <div class="container-fluid border-bottom">
                      <div class="row">
                        <div class="col-lg-6 m-0 p-0">
                          <div class="row">
                            <div class="col-lg-3 m-0 p-0"><span class="font-weight-bold">Phone</span></div>
                            <div class="col-lg-9 m-0 p-0">
                              <ul>
                                <% if @facebook_page.page_phone.present? %>
                                  <li><%= @facebook_page.page_phone %></li>
                                <% else %>
                                  <li>number</li>
                                <% end %>

                                
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 m-0 p-0">
                          <div class="row">
                            <div class="col-lg-3 m-0 p-0"><span class="font-weight-bold">Social</span> </div>
                            <div class="col-lg-9 m-0 p-0">
                              <ul>
                                
                                <li>Twitter</li>
                                <li>Instagram</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="container-fluid border-bottom p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">Address</span>
                        </div>
                        <% if @facebook_page.page_address.present? %>
                          <div class="col-lg-9" id="page_address_text">
                            <%= @facebook_page.page_address %>
                          </div>
                        <% else %>
                          <div class="col-lg-9" id="page_address_text">
                            No Address
                          </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="container-fluid border-bottom p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">About</span>
                        </div>
                        <% if @facebook_page.page_about.present? %>
                        <div class="col-lg-9" id="page_about_text">
                          <%= @facebook_page.page_about %>
                        </div>

                        <% else %>
                          <div class="col-lg-9" id="page_about_text">
                            No About
                          </div>
                        <% end %>

                      </div>
                    </div>
                    <div class="container-fluid border-bottom m-0 p-0">
                      <div class="row">
                        <div class="col-lg-3">
                          <span class="font-weight-bold">Mission</span>
                        </div>
                        <% if @facebook_page.page_mission.present? %>
                          <div class="col-lg-9" id="page_mission_text">
                            <%= @facebook_page.page_mission %>
                          </div>
                        <% else %>
                          <div class="col-lg-9" id="page_mission_text">
                            Mission
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




  </div>
  
  <%= render 'layouts/footer' %>
</div>
