.ec2-full-with {
  width: 100%;
  height: 100vh;
}
.bg-img-1 {
  background-image: asset_url("bg-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 300px) {
  .heading-1 {
    font-size: 3.5em;
  }
}

@media (min-width: 576px) {
  .heading-1 {
    font-size: 4em;
  }
}

.bg-50 {
  background-color: rgba(255,255,255,0.82);
}
.height-100vh {
  height: 100vh;
}
#ec2_link_action p#link_action {
  a {
    color: #fff;
  }
  
}
#ec2_link_action:hover p#link_action {
  
  a {
    color: $indigo;
    text-decoration: none;
  }
}


.bg-dark-50 {
  background-color: rgba(38, 38, 38,0.92);
}

.bg-50 {
  background-color: rgba(255,255,255,0.92);
}
.height-100vh {
  height: 100vh;
}
.product_list .fa-li {
  left: 0 !important;
}