<nav class="navbar navbar-light navbar-expand-md navigation-clean-button py-3 border-bottom">
	<div class="container">
		<h3 class="pt-1">
			<%= link_to unauthenticated_root_path, class: "navbar-brand" do %>
			<%= image_tag asset_path("gleadr-logo.png"), with: "40", height: "40" %>
				<span class="text-danger"><%= app_name %></span>
			<% end %>
		</h3>
		
		<button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav">
				
				<li class="nav-item">
					<%= link_to "#", class: " nav-link" do %>
					Product
					<% end %>
				</li>
				
				<li class="nav-item">
					<%= link_to "#", class: "nav-link" do %>
					Pricing
					<% end %>
				</li>
				
			</ul>
		</div>

		<div class="collapse navbar-collapse" id="navcol-1">
			<ul class="nav navbar-nav ml-auto">
				<% if user_signed_in? %>
				<li class="nav-item">
					<%= link_to destroy_user_session_path, method: :delete, class: "btn btn-danger nav-link rounded-pill" do %>
					Logout
					<% end %>
				</li>
				<% else %>
				<li class="nav-item">
					<%= link_to "Login", new_user_session_path, class: "btn btn-link text-dark mx-1", role: "button" %>
				</li>
				<li class="nav-item">
					<%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger", role: "button" %>
				</li>
				<% end %>
			</ul>
		</div>
	</div>
</nav>