<ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <%= link_to authenticated_root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
      
        <div class="sidebar-brand-icon rotate-n-15">
          
        </div>
        <div class="sidebar-brand-text mx-3"><%= image_tag asset_path("gleadr-logo.png"), with: "40", height: "40" %>
           <%= app_name %></div>
      <% end -%>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
      	<%= link_to authenticated_root_path, class: "nav-link" do %>
      	<i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
      	<% end %>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Interface
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseStore" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fab fa-facebook"></i>

          <span>Facebook</span>
        </a>
        <div id="collapseStore" class="collapse" aria-labelledby="headingStore" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <%= link_to facebook_pages_path, class: "collapse-item" do %>
              All Facebook Page
            <% end %>
            <%= link_to new_facebook_page_path, class: "collapse-item" do %>
              Add New Page
            <% end %>
            <%= link_to bulk_page_path, class: "collapse-item" do %>
              Get Bulk Fb Page
            <% end %>

            
            
          </div>
        </div>
      </li>

      


      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>