<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="<%= app_name %> | Get Leads From Any Social Media Sites.">
    <meta name="description" content="<%= app_name %> let you collect phone, emails and websites from any social media sites easily and connect the people that matter for your business.">

    <meta property="og:title" content="<%= app_name %> | Get Leads From Any Social Media Sites.">
    <meta property="og:description" content="<%= app_name %> let you collect phone, emails and websites from any social media sites easily and connect the people that matter for your business.">
    <meta property="og:image" content="<%= default_fb_image %>">
    <meta property="og:url" content="<%= authenticated_root_path %>">

    <meta name="twitter:title" content="<%= app_name %> | Get Leads From Any Social Media Sites.">
    <meta name="twitter:description" content="<%= app_name %> let you collect phone, emails and websites from any social media sites easily and connect the people that matter for your business.">
    <meta name="twitter:image" content=" <%= default_fb_image %>">
    <meta name="twitter:card" content="<%= default_fb_image %>">

    <title><%= app_name %> | Get Leads From Any Social Media Sites.</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Begin Inspectlet Asynchronous Code -->
    <script type="text/javascript">
    (function() {
    window.__insp = window.__insp || [];
    __insp.push(['wid', 1034428822]);
    var ldinsp = function(){
    if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1034428822&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
    setTimeout(ldinsp, 0);
    })();
    </script>
    <!-- End Inspectlet Asynchronous Code -->
  
  </head>
  <body id="page-top" class="<%= yield :page_class %>">
    <div id="wrapper">
        
        <%= yield %>

    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143532643-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143532643-1');
    </script>


  </body>
</html>

